<h3><%= params[:range] %>s search for "<%= params[:word] %>"</h3>
  <% if @range == "User" %>
    <%= render "users/index", users: @records %>
  <% else %>
    <%= render "books/index", books: @records %>
  <% end %>
</table>